extends layout

block content
    br
    form(method = 'POST', action ='/')
        #form-group
        label Meals
            input.form-control(name = "username", type = 'text')
            select( value = "Choose Meal Number ")
                option 3
                option 4
                option 5
    br
        input.btn.btn-primary(type = 'submit', value = 'Generate Meals')
    br
        input.btn.btn-primary(type = 'submit', value = 'Reset')

    ul 
        each val in food
            p Daily Menu:  #{val.meal}

