doctype html
html
    head
        title Meal Planner 
        link(rel='stylesheet' href ='style.css')
    body
        #homegrid
        #head
            h3 Welcome to meal planner.io 
                p Automatically generate meal plans and grocery lists for the week.
        #main1
            block content
        br
        hr
        #foot 
            p Copyright &copy Mike Maquera, 2019

        
    